/*universal selector*/
*{
	color:white;
	background-color:black;
	
}
h1,h2
{
	color:yellow;
}

/* 
type selector
li{
	color:red;
	background-color:yellow;
}

class selector
.first{
	color:blue;
	background-color:black
}

#gong, .first{
	background-color:yellow;
	color:red;
}
*/